<div class="aboutPage">
	<div class="profile_image">
		<%= image_tag "" %>
	</div>

	<div id="content">
		<h1>Hello , My Name is Collin Cerbus</h1>
		<h4>Add this is my First Rails Blog</h4>
	</div>
</div>